.banner {
    display: block;
    padding: 10px;
    margin-top: 40px;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.bannertext {
    position: relative;
    top: 100px;
    left: 60px;
    z-index: 20;
    text-align: center;
    color: black;
}